################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Simplify/SimplifyUi/bin/
/Simplify/Simplify/obj/
/Simplify/.vs/Simplify/v14/.suo
/Simplify/SimplifyUi/obj/Debug
/Simplify/Simplify/bin/Release
/Simplify/SimplifyUi/obj/Release
