################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Simplify/SimplifyUi/bin/Debug
/Simplify/Simplify/obj/Debug
/Simplify/.vs/Simplify/v14/.suo
