################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Simplify/SimplifyUi/bin/
/Simplify/Simplify/obj/
/Simplify/.vs/Simplify/v14/.suo
/Simplify/SimplifyUi/obj/Debug
/Simplify/Simplify/bin/Release
/Simplify/SimplifyUi/obj/Release
/Simplify/Simplify/bin/Debug
/Simplify/Simplify.sln.DotSettings.user
/Simplify/SimplifyUiComponents/bin/Debug
/Simplify/SimplifyUiComponents/bin/Release
/Simplify/SimplifyUiComponents/obj/Debug
/Simplify/SimplifyUiComponents/obj/Release
Simplify/.vs/
